<h1><%= t("hall_of_fame.title") %></h1>

<% @player_awards.each do |pa| %>
  <div>
    <p><%= pa.player.name %></p>
    <p><%= pa.award.title %></p>
  </div>
<% end %>

<h2><%= t("hall_of_fame.organizers") %></h2>

<% @staff_awards.each do |pa| %>
  <div>
    <p><%= pa.player.name %></p>
    <p><%= pa.award.title %></p>
  </div>
<% end %>
