<div class="space-y-12">
  <% if @block_visible[:hero] %>
    <%= render "home/hero" %>
  <% end %>

  <% if @block_visible[:running_tournaments] && @running_competitions.any? %>
    <%= render "home/running_tournaments",
         running_competitions: @running_competitions,
         mini_standings: @mini_standings %>
  <% end %>

  <% if @block_visible[:recently_finished] && @recently_finished.any? %>
    <%= render "home/recently_finished",
         recently_finished: @recently_finished,
         winners: @winners %>
  <% end %>

  <% if @block_visible[:recent_games] && @recent_games.any? %>
    <%= render "home/recent_games",
         recent_games: @recent_games %>
  <% end %>

  <% if @block_visible[:latest_news] && @latest_news.any? %>
    <%= render "home/latest_news",
         latest_news: @latest_news %>
  <% end %>

  <% if @block_visible[:hall_of_fame] && @hall_of_fame_players.any? %>
    <%= render "home/hall_of_fame",
         hall_of_fame_players: @hall_of_fame_players %>
  <% end %>

  <% if @block_visible[:stats] %>
    <%= render "home/stats", stats: @stats %>
  <% end %>

  <% if @block_visible[:documents] %>
    <%= render "home/documents" %>
  <% end %>
</div>
