<h1 class="text-3xl font-bold text-maroon mb-6"><%= @game.full_name %></h1>

<div class="scroll-wrapper">
  <table class="data-table">
    <thead>
      <tr>
        <th><%= t(".seat") %></th>
        <th><%= t(".player") %></th>
        <th><%= t(".role") %></th>
        <th><%= t(".base_score") %></th>
        <th><%= t(".additional_score") %></th>
        <th><%= t(".best_move") %></th>
        <th><%= t(".total") %></th>
      </tr>
    </thead>
    <tbody>
      <% @participations.each do |participation| %>
        <tr>
          <td><%= participation.seat %></td>
          <td><%= link_to participation.player.name, player_path(participation.player), class: "text-maroon hover:underline" %></td>
          <td>
            <% if participation.role_code.present? %>
              <%= image_tag "roles/#{participation.role_code}.png", alt: participation.role&.name, class: "inline-block h-6 w-6", title: participation.role&.name %>
            <% end %>
          </td>
          <td><%= participation.plus %></td>
          <td><%= participation.minus %></td>
          <td><%= participation.best_move %></td>
          <td><%= participation.total %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
