<h1 class="text-3xl font-bold text-maroon mb-6"><%= @game.full_name %></h1>

<div class="scroll-wrapper">
  <table class="data-table">
    <thead>
      <tr>
        <th><%= t(".player") %></th>
        <th><%= t(".role") %></th>
        <th><%= t(".plus") %></th>
        <th><%= t(".minus") %></th>
        <th><%= t(".best_move") %></th>
        <th><%= t(".total") %></th>
      </tr>
    </thead>
    <tbody>
      <% @ratings.each do |rating| %>
        <tr>
          <td><%= rating.player.name %></td>
          <td><%= rating.role&.name %></td>
          <td><%= rating.plus %></td>
          <td><%= rating.minus %></td>
          <td><%= rating.best_move %></td>
          <td><%= rating.total %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
