<h1><%= @player.name %></h1>

<% @games_by_season.each do |season, games| %>
  <h2>Сезон <%= season %></h2>
  <ul>
    <% games.each do |game| %>
      <li><%= link_to game.in_season_name, game_path(game) %></li>
    <% end %>
  </ul>
<% end %>

<% if @player_awards.any? %>
  <h2><%= t(".awards") %></h2>
  <ul>
    <% @player_awards.each do |player_award| %>
      <li><%= player_award.award.title %></li>
    <% end %>
  </ul>
<% end %>
