<h1 class="text-3xl font-bold text-maroon mb-6"><%= t("common.season") %> <%= @season %> <%= t("common.series") %> <%= @series %></h1>

<div class="scroll-wrapper">
  <table class="data-table">
    <thead>
      <tr>
        <th><%= t(".player") %></th>
        <% @games.each do |game| %>
          <th><%= t("common.game") %> <%= game.game_number %></th>
        <% end %>
        <th><%= t(".total") %></th>
      </tr>
    </thead>
    <tbody>
      <% @players_sorted.each do |player| %>
        <% participations = @participations_by_player[player] %>
        <% participations_by_game = participations.index_by(&:game_id) %>
        <tr>
          <td><%= player.name %></td>
          <% @games.each do |game| %>
            <td><%= participations_by_game[game.id]&.total %></td>
          <% end %>
          <td><%= participations.sum(&:total) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
